<!-- TOP BAR -->
<div class="topbar navbar-fixed-top">
    <div class="container">

        <ul class="list-inline">
            <li><a href="#">SIGN IN</a></li>
            <li><a href="#">JOIN</a></li>
            <li><a class="btn btn-default bt-custom" href="#" role="button">Request a client demo</a></li>
        </ul>

    </div>
</div>
<!-- END topbar -->
<!--NAV -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="" /></a>
        </div>
        <!-- collapse -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-nav-right">
                <li><a href="#our-services">About</a></li>
                <li><a href="#how-it-works">How it works</a></li>
                <li><a href="#work-talent">Our talent</a></li>
                <li><a routerLink="jobs">Jobs</a></li>
                <li><a href="#contact-menu">Contact</a></li>
            </ul>
        </div>
        <!-- END collapse -->
    </div>
</nav>
<!-- END nav -->