<!-- HERO -->
<div class="hero">
    <div class="container">
        <div class="row">
            <!-- txt -->
            <div class="col-md-6 col-sm-6">
                <h1>Hire proven, professional contractors. Save time and money!</h1>
                <p>We use technology to quickly find the best contractors for your temporary hiring needs.</p>

                <a class="btn btn-default bt-custom" href="#" role="button">Find a contractor now</a>
                <a class="btn btn-default bt-custom-out" href="#" role="button">Request a 3-minute client demo</a>

                <p class="hero-small"><a href="#">Are you looking for work?</a></p>
            </div>
            <!-- END txt -->
            <!-- pic -->
            <div class="col-md-6 col-sm-6">
                <img src="assets/img/hero_pic.png" class="img-responsive" alt="" />
            </div>
            <!-- END pic -->
        </div>
    </div>
</div>
<!-- END hero -->

<!-- LOGO SLIDER -->
<div class="container">
    <section class="customer-logos slider">
        <div class="slide"><img src="assets/img/logos_grey/01.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/02.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/03.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/04.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/05.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/06.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/07.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/08.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/09.jpg" alt="" /></div>
        <div class="slide"><img src="assets/img/logos_grey/10.jpg" alt="" /></div>
    </section>
</div>
<!-- END logo slider -->



<!-- SECTION MEDIABODY BLURBS -->
<div class="skewed-bg">
    <div class="skewed-content">
        <div class="container">

            <div class="row">
                <div class="section-ttl" id="our-services">
                    <h4>OUR SERVICE</h4>
                    <h2>Better data. Better vetting. Better hiring experience.</h2>
                </div>
            </div>


            <div class="row">

                <!-- blurb -->
                <div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0">
                    <div class="blurb-mediabody">
                        <div class="pull-left"><img src="assets/img/blurb_ico01.svg" alt="" /></div>
                        <div class="media-body">
                            <h4>Verified performance ratings</h4>
                            <p>See verified contractor performance ratings from previous hiring managers.</p>
                        </div>
                    </div>
                </div>
                <!-- END blurb -->

                <!-- blurb -->
                <div class="col-md-5 col-sm-6">
                    <div class="blurb-mediabody">

                        <div class="pull-left"><img src="assets/img/blurb_ico02.svg" alt="" /></div>
                        <div class="media-body">
                            <h4>No haggling over pay</h4>
                            <p>Contractors bid for your assignment within the pay range you set.</p>
                        </div>

                    </div>
                </div>
                <!-- END blurb -->

            </div>
            <div class="row">

                <!-- blurb -->
                <div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0">
                    <div class="blurb-mediabody">

                        <div class="pull-left"><img src="assets/img/blurb_ico03.svg" alt="" /></div>
                        <div class="media-body">
                            <h4>Payroll and financing included</h4>
                            <p>PeopleCaddie pays the contractor every two weeks and invoices you for the approved hours.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- END blurb -->

                <!-- blurb -->
                <div class="col-md-5 col-sm-6">
                    <div class="blurb-mediabody">
                        <div class="pull-left"><img src="assets/img/blurb_ico04.svg" alt="" /></div>
                        <div class="media-body">
                            <h4>Full transparency</h4>
                            <p>Our platform allows you to see exactly what your contractor is being paid.</p>
                        </div>
                    </div>
                </div>
                <!-- END blurb -->

            </div>
            <!-- END row -->

        </div>
    </div>
</div>
<!-- END section -->



<!-- VIDEO SECTION -->
<div class="section section-video">
    <div class="container" id="how-it-works">
        <div class="row">

            <div class="col-md-5 col-sm-6 col-md-offset-1 col-sm-offset-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ktSZgcYZCDk" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 section-video-txt">
                <h2>Meet our platform</h2>
                <p>PeopleCaddie matches employers with fully-vetted, professional contractors in a fraction of the time
                    required by traditional staffing firms!</p>
                <ul>
                    <li><i class="fas fa-check-circle"></i> User-friendly contractor profiles</li>
                    <li><i class="fas fa-check-circle"></i> Direct, real-time candidate communication</li>
                    <li><i class="fas fa-check-circle"></i> Human screening interviews</li>
                </ul>
                <a class="btn btn-default bt-custom" href="#" role="button">Find a contractor now</a>
            </div>

        </div>
    </div>
</div>
<!-- END video section -->



<!-- BLURBS -->
<div class="section section-blurbs" id="work-talent">
    <div class="container">

        <div class="section-ttl">
            <h4>WORK TALENT</h4>
            <h2>Find proven professional contractors vetted for your specific role</h2>
        </div>

        <div class="row">
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico01.png" alt="" />
                    <h4>Finance &<br>Accounting</h4>
                </div>
            </div>
            <!-- END blurb -->
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico02.png" alt="" />
                    <h4>Human<br>Resources</h4>
                </div>
            </div>
            <!-- END blurb -->
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico03.png" alt="" />
                    <h4>Technology</h4>
                </div>
            </div>
            <!-- END blurb -->
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico04.png" alt="" />
                    <h4>Administrative<br>& Office</h4>
                </div>
            </div>
            <!-- END blurb -->
        </div>


        <div class="row">
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico05.png" alt="" />
                    <h4>Engineering</h4>
                </div>
            </div>
            <!-- END blurb -->
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico06.png" alt="" />
                    <h4>Legal<br>
                        Services</h4>
                </div>
            </div>
            <!-- END blurb -->
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico07.png" alt="" />
                    <h4>Marketing<br>& Creative</h4>
                </div>
            </div>
            <!-- END blurb -->
            <!-- blurb -->
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="blurb">
                    <img src="assets/img/ico08.png" alt="" />
                    <h4>Healthcare</h4>
                </div>
            </div>
            <!-- END blurb -->
        </div>



    </div>
</div>
<!-- END blurbs -->



<!-- CTA -->
<div class="section cta">
    <div class="container">
        <h2>Find professional contractors for your business today</h2>
        <p>We’ve got you covered for all of your temporary hiring needs</p>
        <a class="btn btn-default bt-custom-out-wh" href="#" role="button">Request a 3-minute client demo</a>
    </div>
</div>
<!-- END cta -->



<!-- SECTION -->
<div class="section section-contact" id="contact-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-contact-module">

                    <div class="section-ttl">
                        <h2>We’re here to help</h2>
                        <p>Find the right professional contractor to help grow your business</p>
                    </div>

                    <!-- form -->
                    <div class="form-submodule">

                        <div class="form-group">
                            <input type="text" class="form-control half-width-form-control input-lg"
                                placeholder="First Name"><input type="text"
                                class="form-control half-width-form-control-right input-lg" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control half-width-form-control input-lg"
                                placeholder="Email"><input type="text"
                                class="form-control half-width-form-control-right input-lg" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control half-width-form-control input-lg"
                                placeholder="Country"><input type="text"
                                class="form-control half-width-form-control-right input-lg" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Describe your talent search">
                        </div>
                    </div>
                    <!-- END form -->

                    <a class="btn btn-default bt-custom" href="#" role="button">Contact us</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END section -->



<!-- SECTION -->
<div class="section section-download">
    <div class="container">

        <div class="section-ttl">
            <h4>CONTRACTORS</h4>
            <h2>Find and apply to jobs on the go</h2>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-5 col-md-offset-2 col-sm-offset-1 section-download-pic">
                <img src="assets/img/iphone.jpg" class="img-responsive" alt="" />
            </div>

            <div class="col-md-4 col-sm-6 col-md-offset-1 col-sm-offset-0 section-download-content">
                <p>Take our free app with you anywhere. Enter your phone number and we’ll send you the download link.
                </p>

                <ul class="list-inline section-download-combo">
                    <li><img src="assets/img/flag.svg" alt="" /></li>
                    <li>
                        <p><b>+1</b></p>
                    </li>
                    <li><input type="text" class="form-control" id="66" placeholder="Enter phone number"></li>
                </ul>

                <ul class="list-inline cta-badges">
                    <li><a href="#"><img src="assets/img/google_badge.png" alt="" /></a></li>
                    <li><a href="#"><img src="assets/img/apple_badge.svg" alt="" /></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- END section -->